<!DOCTYPE html>
<html>
  <head>
    <title>EspressoRailsTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <%= react_component('Header', user: @current_user, company: @current_user.company) if @current_user %>
    <%= yield %>
  </body>
</html>
